<!-- begin :: Page CSS -->
<th:block th:fragment="page_css"></th:block>
<!-- end :: Page CSS -->

<!-- begin :: Content -->
<th:block th:fragment="content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon">
					<i class="kt-font-brand flaticon2-line-chart"></i>
				</span>
				<h3 class="kt-portlet__head-title">
					Danh Sách Đơn Hàng
				</h3>
			</div>
			<div class="kt-portlet__head-toolbar d-none">
				<div class="kt-portlet__head-wrapper">
					<a href="#" class="btn btn-clean btn-icon-sm">
						<i class="la la-long-arrow-left"></i>
						Quay lại
					</a>
					&nbsp;
					<div class="dropdown dropdown-inline">
						<button type="button" class="btn btn-brand btn-icon-sm">
							<i class="flaticon2-plus"></i> Thêm Mới
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="kt-portlet__body">

			<!--begin: Search Form -->
			<div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
				<div class="row align-items-center">
					<div class="col-xl-12 order-2 order-xl-1">
						<div class="row align-items-center">
							<div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
								<div class="kt-input-icon kt-input-icon--left">
									<input type="text" class="form-control" placeholder="Tìm kiếm..." id="generalSearch" autocomplete="off">
									<span class="kt-input-icon__icon kt-input-icon__icon--left">
										<span><i class="la la-search"></i></span>
									</span>
								</div>
							</div>
							<div style="" class="col-md-2 kt-margin-b-20-tablet-and-mobile">
								<div class="kt-form__group kt-form__group--inline">
									<div class="kt-form__label">
										<label>Phương thức:</label>
									</div>
									<div class="kt-form__control">
										<select class="form-control bootstrap-select kt_form_method" id="kt_form_type">
											<option value="">Tất cả</option>
											<option value="ATM">ATM</option>
											<option value="COD">COD</option>
										</select>
									</div>
								</div>
							</div>
							<div style="" class="col-md-3 kt-margin-b-20-tablet-and-mobile">
								<div class="kt-form__group kt-form__group--inline">
									<div class="kt-form__label">
										<label>Thanh toán:</label>
									</div>
									<div class="kt-form__control">
										<select class="form-control bootstrap-select kt_form_payment" id="kt_form_status">
											<option value="">Tất cả</option>
											<option value="Chờ thanh toán ATM">Chờ thanh toán ATM</option>
											<option value="Chưa thanh toán">Chưa thanh toán</option>
											<option value="Đã thanh toán">Đã thanh toán</option>
											<option value="Đã hoàn tiền">Đã hoàn tiền</option>
											<option value="Đã hủy bỏ">Đã hủy bỏ</option>
										</select>
									</div>
								</div>
							</div>
							<div style="" class="col-md-3 kt-margin-b-20-tablet-and-mobile">
								<div class="kt-form__group kt-form__group--inline">
									<div class="kt-form__label">
										<label>Vận chuyển:</label>
									</div>
									<div class="kt-form__control">
										<select class="form-control bootstrap-select kt_form_delivery" id="kt_form_status">
											<option value="">Tất cả</option>
											<option value="Chưa xét duyệt">Chưa xét duyệt</option>
											<option value="Chờ giao hàng">Chờ giao hàng</option>
											<option value="Chờ giao hàng lần 2">Chờ giao hàng lần 2</option>
											<option value="Đang giao hàng">Đang giao hàng</option>
											<option value="Đang giao hàng lần 2">Đang giao hàng lần 2</option>
											<option value="Giao hàng thành công">Giao hàng thành công</option>
											<option value="Đã hủy">Đã hủy</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 order-1 order-xl-2 kt-align-right">
						<a href="#" class="btn btn-default kt-hidden">
							<i class="la la-cart-plus"></i> New Order
						</a>
						<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
					</div>
				</div>
			</div>

			<!--end: Search Form -->
		</div>
		<div class="kt-portlet__body kt-portlet__body--fit">

			<!--begin: Datatable -->
			<div class="kt-datatable" id="ajax_data"></div>

			<!--end: Datatable -->
		</div>
	</div>
</th:block>
<!-- end :: Content -->

<!--begin :: Page Script (used by this page) -->
<th:block th:fragment="page_script">
	<script src="assets/js/template/orders.js" type="text/javascript"></script>

</th:block>
<!--end :: Page Script -->
