<footer>
	<div class="tt-footer-default tt-color-scheme-02">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-9">

				</div>
				<div class="col-md-auto">
					<ul class="tt-social-icon">
						<li><a class="icon-g-64" target="_blank" href="http://www.facebook.com/"></a></li>
						<li><a class="icon-h-58" target="_blank" href="http://www.facebook.com/"></a></li>
						<li><a class="icon-g-66" target="_blank" href="http://www.twitter.com/"></a></li>
						<li><a class="icon-g-67" target="_blank" href="http://www.google.com/"></a></li>
						<li><a class="icon-g-70" target="_blank" href="https://instagram.com/"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="tt-footer-col tt-color-scheme-01">
		<div class="container">
			<div class="row">



				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="tt-newsletter">
						<div class="tt-mobile-collapse">
							<h4 class="tt-collapse-title">
								LIÊN HỆ
							</h4>
							<div class="tt-collapse-content">
								<address>
									<p><span>Địa Chỉ:</span> 77 Xuân La - Tây Hồ - Hà Nội</p>
									<p><span>SĐT:</span> 0964856293</p>
									<p><span>Mở Cửa:</span> 7 Ngày trong tuần, Từ 8h-20h Hàng ngày</p>
									<p><span>E-mail:</span> <a href="mailto:info@mydomain.com">topshoe@gmail.com</a></p>
								</address>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-2 col-xl-3">
					<div class="tt-mobile-collapse">
						<h4 class="tt-collapse-title">
							THÔNG TIN
						</h4>
						<div class="tt-collapse-content">
							<ul class="tt-list">

								<li><a href="/customer/login">Đăng Nhập</a></li>
								<li><a href="/signup">Đăng Ký</a></li>
							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</footer>
<a href="#" class="tt-back-to-top">BACK TO TOP</a>