<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Tài khoản của tôi</title>
	<meta name="keywords" content="TopShoe">
	<meta name="description" content="Account - TopShoe">
	<meta name="author" content="TopShoe">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base th:replace="shopper/fragments/common :: base">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/custom.css">
</head>
<body>

<!-- header -->
<header th:replace="shopper/fragments/header"></header>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/index">Trang Chủ</a></li>
			<li>TÀI KHOẢN</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<h1 class="tt-title-subpages noborder padding-0">Tài khoản của tôi</h1>
			<div class="tt-shopping-layout">
<!-- 				<h2 class="tt-title-border">Tài khoản của tôi</h2> -->
				<div class="tt-wrapper">
					<h3 class="tt-title">Quản lý đơn hàng</h3>
					<div class="tt-table-responsive">
						<table class="tt-table-shop-01">
							<thead>
								<tr>
									<th>Mã đơn hàng</th>
									<th>Ngày mua</th>
									<th>Trạng thái thanh toán</th>
									<th>Trạng thái vận chuyển</th>
									<th class="min-w-105">Tổng tiền</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="orderWeb : ${orderWebs}">
									<td><a th:href="${'/my-account/order/' + orderWeb.id}"><span th:text="${'#' + orderWeb.getFormatId()}"></span></a></td>
									<td th:text="${orderWeb.createdAt}"></td>
									<td th:text="${orderWeb.paymentStatus}">Processing</td>
									<td th:text="${orderWeb.deliveryStatus}">Processing</td>
									<td th:text="${orderWeb.formatPrice(orderWeb.totalAmount)}" class="font-weight-400"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tt-wrapper">
					<h3 class="tt-title">Thông tin tài khoản</h3>
					<div class="tt-table-responsive">
						<table class="tt-table-shop-02">
							<tbody>
								<tr>
									<td>Họ tên:</td>
									<td th:text="${user.name}"></td>
								</tr>
								<tr>
									<td>Địa chỉ</td>
									<td th:text="${user.address}"></td>
								</tr>
								<tr>
									<td>Số điện thoại</td>
									<td th:text="${user.phone}"></td>
								</tr>
								<tr>
									<td>Email</td>
									<td th:text="${user.email}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<a href="javascript:;" class="btn btn-border d-none">Sửa thông tin</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<footer th:replace="shopper/fragments/footer"></footer>

<!-- modal -->
<div th:replace="shopper/fragments/modal :: addToCart"></div>
<div th:replace="shopper/fragments/modal :: quickView"></div>
<div th:replace="shopper/fragments/modal :: videoProduct"></div>
<div th:replace="shopper/fragments/modal :: subsribeGood"></div>

<script src="external/jquery/jquery.min.js"></script>
<script src="external/bootstrap/js/bootstrap.min.js"></script>
<script src="external/slick/slick.min.js"></script>
<script src="external/panelmenu/panelmenu.js"></script>
<script src="external/lazyLoad/lazyload.min.js"></script>
<script src="js/main.js"></script>
<!-- form validation and sending to mail -->
<script src="external/form/jquery.form.js"></script>
<script src="external/form/jquery.validate.min.js"></script>
<script src="external/form/jquery.form-init.js"></script>
<!-- custom -->
<script src="js/toastr.min.js" type="text/javascript"></script>
<script src="js/header.js" type="text/javascript"></script>
</body>
</html>