<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title th:text="${product.name2() + ' - TopShoe'}">Product Detail</title>
	<meta name="keywords" content="Product Detail">
	<meta name="description" content="Product Detail">
	<meta name="author" content="TopShoe">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base th:replace="shopper/fragments/common :: base">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/toastr.min.css">
</head>
<body class="tt-page-product-single">

<!-- header -->
<header th:replace="shopper/fragments/header"></header>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/index">Trang Chủ</a></li>
			<li><a href="product-listing.html">SẢN PHẨM</a></li>
			<li th:text="${product.name2()}"></li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<!-- mobile product slider  -->
		<div class="tt-mobile-product-layout visible-xs">
			<div class="tt-mobile-product-slider arrow-location-center slick-animated-show-js">
				<div><img th:src='${product.primaryImage()}' alt=""></div>
				<div th:each="image : ${product.otherImages()}"><img th:src='${image}' alt=""></div>

			</div>
		</div>
		<!-- /mobile product slider  -->
		<div class="container container-fluid-mobile">
			<div class="row airSticky_stop-block">
				<div class="col-6 hidden-xs">
					<div class="product-images-static hidden-xs">
						<ul  data-scrollzoom="false">
							<li><img class="zoom-product" th:src='${product.primaryImage()}' th:data-zoom-image="${product.primaryImage()}" alt=""></li>
							<li th:each="image : ${product.otherImages()}"><img class="zoom-product" th:src='${image}' th:data-zoom-image="${image}" alt=""></li>
							<!-- <li>
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/GhyKqj_P2E4" allowfullscreen></iframe>
								</div>
							</li> -->
							<!-- <li>
								<div class="tt-video-block">
									<a href="#" class="link-video"></a>
									<video class="movie" src="video/video.mp4" poster="video/video_img.jpg"></video>
								</div>
							</li> -->
						</ul>
					</div>
				</div>
				<div class="col-6">
					<div class="airSticky">
						<div class="tt-product-single-info">
							<div class="tt-add-info">
								<ul>
									<li><span>ID: </span> <span th:text="${product.id}"></span></li>
									<input id="productId" type="hidden" th:value="${product.id}">
								</ul>
							</div>
							<h1 class="tt-title" th:text="${product.brand.name + ' ' + product.name + ' - ' + product.versionName}">Product name</h1>
							<div class="tt-price">
								<span class="new-price" th:text="${product.formatPrice()}">$price</span>
								<!-- <span class="old-price"></span> -->
							</div>
							<div class="tt-review d-none">
								<div class="tt-rating">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star-half"></i>
									<i class="icon-star-empty"></i>
								</div>
								<a href="product-page-gotocomments-js">(3 Customer Review)</a>
							</div>
							<div class="tt-wrapper" th:text="${product.description}">
								Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							</div>
							<div class="tt-wrapper">
								<div class="tt-title-options">SIZE:</div>
								<ul class="tt-options-swatch options-large size_list">
									<li class="size_number" th:each="size : ${product.sizes}">
										<a th:href="${'chooseSize/' + size.size}" th:text="${size.size}">6</a>
										<input class="productSizeId" type="hidden" th:value="${size.id}">
									</li>
								</ul>
							</div>
							<div class="tt-wrapper product-information-buttons d-none">
								<a data-toggle="modal" data-target="#modalProductInfo" href="#">Size Guide</a>
								<a data-toggle="modal" data-target="#modalProductInfo-02" href="#">Shipping</a>
							</div>
							<div class="tt-wrapper">
								<div class="tt-row-custom-01">
<!-- 									<div class="col-item d-none"> -->
<!-- 										<div class="tt-input-counter style-01" style="user-select: none;"> -->
<!-- 											<span class="minus-btn"></span> -->
<!-- 											<input type="text" value="1" size="5"> -->
<!-- 											<span class="plus-btn"></span> -->
<!-- 										</div> -->
<!-- 									</div> -->
									<div class="col-item">
										<a id="addToCart" href="/add-to-cart" class="btn btn-lg">
											<i class="icon-f-39"></i>CHỌN MUA
										</a>
									</div>
								</div>
							</div>
							<div class="tt-wrapper">
								<ul class="tt-list-btn">
									<li th:if="${isSignedIn}"><a class="btn-link" id="toogle-wishlist" href="#"><i th:class="${product.isWishList} ? 'icon-h-13' : 'icon-n-072'"></i><span th:text="${product.isWishList} ? 'Đã thích' : 'Yêu thích'"></span></a></li>
									<li><a class="btn-link d-none" href="#"><i class="icon-n-08"></i>ADD TO COMPARE</a></li>
								</ul>
							</div>
<!-- 							<div class="tt-wrapper"> -->
<!-- 								<div class="tt-add-info"> -->
<!-- 									<ul> -->
<!-- 										<li><span>Vendor:</span> Polo</li> -->
<!-- 										<li><span>Product Type:</span> T-Shirt</li> -->
<!-- 										<li><span>Tag:</span> <a href="#">T-Shirt</a>, <a href="#">Women</a>, <a href="#">Top</a></li> -->
<!-- 									</ul> -->
<!-- 								</div> -->
<!-- 							</div> -->
							<div class="tt-collapse-block">
								<div class="tt-item">
									<div class="tt-collapse-title">Mô tả</div>
									<div class="tt-collapse-content" th:text="${product.description}">
										Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
	
									</div>
								</div>
								<div class="tt-item active">
									<div class="tt-collapse-title">Thông tin</div>
									<div class="tt-collapse-content">
										<table class="tt-table-03">
											<tbody>
												<tr>
													<td>Màu:</td>
													<td>
														<span th:each="color : ${product.colors}">
															<span th:text="${color.color.name}"></span>
														</span>
													</td>
												</tr>
												<tr>
													<td>Size:</td>
													<td>
														<span th:each="size : ${product.sizes}">
															<span th:text="${size.size}"></span>
														</span>
													</td>
												</tr>
												<tr>
													<td>Category:</td>
													<td th:text="${product.category.name}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
<!--	<div class="container-indent wrapper-social-icon">-->
<!--		<div class="container">-->
<!--			<ul class="tt-social-icon justify-content-center">-->
<!--				<li><a class="icon-g-64" href="http://www.facebook.com/"></a></li>-->
<!--				<li><a class="icon-h-58" href="http://www.facebook.com/"></a></li>-->
<!--				<li><a class="icon-g-66" href="http://www.twitter.com/"></a></li>-->
<!--				<li><a class="icon-g-67" href="http://www.google.com/"></a></li>-->
<!--				<li><a class="icon-g-70" href="https://instagram.com/"></a></li>-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="container-indent">-->
<!--		<div class="container container-fluid-custom-mobile-padding">-->
<!--			<div class="tt-block-title text-left">-->
<!--				<h3 class="tt-title-small">Thương hiệu <span th:text="${product.brand.name}"></span></h3>-->
<!--			</div>-->
<!--			<div class="tt-carousel-products row arrow-location-right-top tt-alignment-img tt-layout-product-item slick-animated-show-js">-->
<!--				<div class="col-2 col-md-4 col-lg-3" th:each="product : ${relatedProducts}">-->
<!--					<div class="tt-product thumbprod-center">-->
<!--						<div class="tt-image-box">-->
<!--							<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"	data-tooltip="Xem trước" data-tposition="left"></a>-->
<!--							<a href="#" class="tt-btn-wishlist" th:if="${isSignedIn}" data-tooltip="Yêu thích" th:classappend="${product.isWishList} ? 'active' : ''" data-tposition="left"></a>-->
<!--							<a href="#" class="tt-btn-compare d-none" data-tooltip="So sánh" data-tposition="left"></a>-->
<!--							<input class="productBoxId" type="hidden" th:value="${product.id}">-->
<!--							<a href="product.html">-->
<!--								<span class="tt-img"><img th:src="${product.primaryImage()}" alt=""></span>-->
<!--								<span class="tt-img-roll-over"><img th:src="${product.primaryImage()}" alt=""></span>-->
<!--							</a>-->
<!--						</div>-->
<!--						<div class="tt-description">-->
<!--							<div class="tt-row">-->
<!--								<ul class="tt-add-info">-->
<!--									<li><a th:href="${'/product-listing?brandId=' + product.brand.id}" th:text="${product.brand.name}"></a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							<h2 class="tt-title"><a th:href="@{/product/} + ${product.id}" th:text="${product.name + ' - ' + product.versionName}">name</a></h2>-->
<!--							<div class="tt-price" th:text="${product.formatPrice()}">-->
<!--								price-->
<!--							</div>-->
<!--							<div class="tt-product-inside-hover">-->
<!--&lt;!&ndash; 								<div class="tt-row-btn"> &ndash;&gt;-->
<!--&lt;!&ndash; 									<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</a> &ndash;&gt;-->
<!--&lt;!&ndash; 								</div> &ndash;&gt;-->
<!--								<div class="tt-row-btn">-->
<!--									<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>-->
<!--									<a href="#" class="tt-btn-wishlist"></a>-->
<!--									<a href="#" class="tt-btn-compare"></a>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
</div>

<!-- footer -->
<footer th:replace="shopper/fragments/footer"></footer>

<!-- Modal -->
<div th:replace="shopper/fragments/modal :: size_guide"></div>
<div th:replace="shopper/fragments/modal :: shipping"></div>

<script src="external/jquery/jquery.min.js"></script>
<script src="external/bootstrap/js/bootstrap.min.js"></script>
<script src="external/elevatezoom/jquery.elevatezoom.js"></script>
<script src="external/slick/slick.min.js"></script>
<script src="external/panelmenu/panelmenu.js"></script>
<script src="external/air-sticky/air-sticky-block.min.js"></script>
<script src="external/countdown/jquery.plugin.min.js"></script>
<script src="external/countdown/jquery.countdown.min.js"></script>
<script src="external/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="external/lazyLoad/lazyload.min.js"></script>
<script src="js/main.js"></script>
<!-- form validation and sending to mail -->
<script src="external/form/jquery.form.js"></script>
<script src="external/form/jquery.validate.min.js"></script>
<script src="external/form/jquery.form-init.js"></script>
<!-- custom -->
<script src="js/toastr.min.js" type="text/javascript"></script>
<script src="js/header.js" type="text/javascript"></script>
<script src="js/product-box.js" type="text/javascript"></script>
<script src="js/product.js" type="text/javascript"></script>
</body>
</html>