<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Danh sách sản phẩm</title>
	<meta name="keywords" content="Product Listing">
	<meta name="description" content="Product Listing">
	<meta name="author" content="TopShoe">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base th:replace="shopper/fragments/common :: base">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/toastr.min.css">
</head>
<body>

<!-- header -->
<header th:replace="shopper/fragments/header"></header>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/index">Trang Chủ</a></li>
			<li>DANH SÁCH SẢN PHẨM</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-3 leftColumn aside">
					<div class="tt-btn-col-close">
						<a href="#">Đóng</a>
					</div>
					<div class="tt-collapse open tt-filter-detach-option">
						<div class="tt-collapse-content">
							<div class="filters-mobile">
								<div class="filters-row-select">

								</div>
							</div>
						</div>
					</div>
					<div class="tt-collapse open">
						<h3 class="tt-collapse-title">TÌM THEO</h3>
						<div class="tt-collapse-content">
							<ul class="tt-filter-list" id="list-filter">
<!-- 								<li><a href="#">White</a></li> -->
							</ul>
							<a href="#" id="remove-all-filter" class="btn-link-02">Loại bỏ tất cả lọc</a>
						</div>
					</div>
					<div class="tt-collapse open ">
						<h3 class="tt-collapse-title">DANH MỤC</h3>
						<div class="tt-collapse-content">
							<ul class="tt-list-row" id="list-gategory">
<!-- 								<li class="active"><a href="#">a</a></li> -->
								<li th:each="category : ${categories}"><a th:href="${category.id}" th:text="${category.name}"></a></li>
							</ul>
						</div>
					</div>
					<div class="tt-collapse open">
						<h3 class="tt-collapse-title">THƯƠNG HIỆU</h3>
						<div class="tt-collapse-content">
							<ul class="tt-list-row" id="list-brand">
<!-- 								<li class="active"><a href="#">a</a></li> -->
								<li th:each="brand : ${brands}"><a th:href="${brand.id}" th:text="${brand.name}">LACOSTE</a></li>
							</ul>
						</div>
					</div>
					<div class="tt-collapse open">
						<h3 class="tt-collapse-title">TÌM THEO MỨC GIÁ</h3>
						<div class="tt-collapse-content">
							<ul class="tt-list-row" id="list-price">
								<li><a href="#" priceMax="1000000">0 — 1.000.000</a></li>
								<li><a href="#" priceMin="1000000" priceMax="2000000">1.000.000 — 2.000.000</a></li>
								<li><a href="#" priceMin="2000000" priceMax="3000000">2.000.000 — 3.000.000</a></li>
								<li><a href="#" priceMin="3000000">> 3.000.000</a></li>
							</ul>
						</div>
					</div>
					<div class="tt-collapse open">
						<h3 class="tt-collapse-title">TÌM THEO KÍCH THƯỚC</h3>
						<div class="tt-collapse-content">
							<ul class="tt-options-swatch options-middle" id="list-size">
								<li th:each="size : ${sizes}"><a href="#" th:text="${size}">42</a></li>
							</ul>
						</div>
					</div>

					<div class="tt-collapse open">
						<h3 class="tt-collapse-title">MÀU</h3>
						<div class="tt-collapse-content">
							<ul class="tt-options-swatch options-middle" id="list-color">
								<li th:each="color : ${colors}"><a class="options-color" th:style="${'background: ' + color.code}" th:title="${color.name}" th:href="${color.id}"></a></li>
							</ul>
						</div>
					</div>

					<div class="tt-collapse open" th:if="${isSignedIn}">
						<h3 class="tt-collapse-title">SẢN PHẨM ĐÃ XEM</h3>
						<div class="tt-collapse-content">
							<div class="tt-aside">
								<a class="tt-item" href="product.html" th:each="product : ${productWatched}">
									<div class="tt-img">
										<span class="tt-img-default"><img src="images/loader.svg" th:data-src="${product.primaryImage()}" alt=""></span>
										<span class="tt-img-roll-over" th:each="image,iter : ${product.otherImages()}">
											<img th:if="${iter.index==0}" src="images/loader.svg" th:data-src="${image}" alt="">
										</span>
									</div>
									<div class="tt-content">
										<h6 class="tt-title" th:text="${product.name2()}">Flared Shift Dress</h6>
										<div class="tt-price">
											<span class="sale-price" th:text="${product.formatPrice()}">$14</span>
<!-- 											<span class="old-price">$24</span> -->
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="tt-collapse open d-none">
						<h3 class="tt-collapse-title">TAGS</h3>
						<div class="tt-collapse-content">
							<ul class="tt-list-inline">
								<li><a href="#">Dresses</a></li>
								<li><a href="#">Shirts &amp; Tops</a></li>
								<li><a href="#">Polo Shirts</a></li>
								<li><a href="#">Sweaters</a></li>
								<li><a href="#">Blazers</a></li>
								<li><a href="#">Vests</a></li>
								<li><a href="#">Jackets</a></li>
							</ul>
						</div>
					</div>
					<div class="tt-content-aside">
						<a href="javascript:;" class="tt-promo-03">
							<img src="images/banner/bnv.jpg" alt="">
						</a>
					</div>
				</div>
				<div class="col-md-12 col-lg-9 col-xl-9">
					<div class="content-indent container-fluid-custom-mobile-padding-02">
						<div class="tt-filters-options">
							<h1 class="tt-title">
								DANH SÁCH SẢN PHẨM 
<!-- 								<span class="tt-title-total">(12)</span> -->
							</h1>
							<div class="tt-btn-toggle">
								<a href="#">LỌC</a>
							</div>
							<div class="tt-sort">
								<select id="sortSelect">
									<option value="0">Sản phẩm mới</option>
									<option value="1">Giá tăng dần</option>
									<option value="2">Giá giảm dần</option>
								</select>
							</div>
							<div class="tt-quantity">
								<a href="#" class="tt-col-one" data-value="tt-col-one"></a>
								<a href="#" class="tt-col-two" data-value="tt-col-two"></a>
								<a href="#" class="tt-col-three" data-value="tt-col-three"></a>
								<a href="#" class="tt-col-four" data-value="tt-col-four"></a>
								<a href="#" class="tt-col-six" data-value="tt-col-six"></a>
							</div>
						</div>
						<div class="tt-product-listing row">
							<h5 th:if="${#lists.isEmpty(products)}">Hiện không có sản phẩm</h5>
							<div th:fragment="product-listing-item" class="col-6 col-md-4 tt-col-item" th:each="product : ${products}">
								<div class="tt-product thumbprod-center">
									<div class="tt-image-box">

										<a href="#" class="tt-btn-wishlist" th:if="${isSignedIn}" data-tooltip="Yêu thích" th:classappend="${product.isWishList} ? 'active' : ''" data-tposition="left"></a>
										<input class="productBoxId" type="hidden" th:value="${product.id}">

										<a th:href="@{/product/} + ${product.id}">
											<span class="tt-img"><img th:src="${product.primaryImage()}" alt=""></span>
											<span class="tt-img-roll-over" th:each="image,iter : ${product.otherImages()}">
												<img th:if="${iter.index==0}" th:src="${image}" alt="">
											</span>
										</a>
									</div>
									<div class="tt-description">
										<div class="tt-row">
											<ul class="tt-add-info">
												<li><a th:href="${'/product-listing?brandId=' + product.brand.id}" th:text="${product.brand.name}">VENDER</a></li>
											</ul>

										</div>
										<h2 class="tt-title"><a th:href="@{/product/} + ${product.id}">
											<td th:text="${product.name + ' - ' + product.versionName}"></td></a></h2>
										<div class="tt-price" th:text="${product.formatPrice()}">
											price
										</div>
										<div class="tt-product-inside-hover">
<!-- 								<div class="tt-row-btn"> -->
<!-- 									<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</a> -->
<!-- 								</div> -->
								<div class="tt-row-btn">
									<a href="#" class="tt-btn-quickview" data-tooltip="Xem Trước" data-toggle="modal" data-target="#ModalquickView"></a>
									<a href="#" class="tt-btn-wishlist" data-tooltip="Danh sách yêu thích"></a>
								</div>
							</div>
									</div>
								</div>
							</div>
					</div>
						<div class="text-center" style="margin-top: 30px;">
							<a id="show_more" href="load-more" class="btn btn-border" th:if="${#lists.size(products)!=0}">XEM THÊM</a>
							<div id="last_page" class="tt_item_all d-none">
								<a href="end" class="btn btn-border01">CUỐI TRANG</a>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<footer th:replace="shopper/fragments/footer"></footer>

<!-- modal -->
<div th:replace="shopper/fragments/modal :: addToCart"></div>
<!-- <div th:replace="shopper/fragments/modal :: quickView"></div> -->
<div th:replace="shopper/fragments/modal :: videoProduct"></div>
<div th:replace="shopper/fragments/modal :: subsribeGood"></div>

<script src="external/jquery/jquery.min.js"></script>
<script src="external/bootstrap/js/bootstrap.min.js"></script>
<script src="external/slick/slick.min.js"></script>
<script src="external/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="external/panelmenu/panelmenu.js"></script>
<script src="external/countdown/jquery.plugin.min.js"></script>
<script src="external/countdown/jquery.countdown.min.js"></script>
<script src="external/lazyLoad/lazyload.min.js"></script>
<script src="js/main.js"></script>
<!-- form validation and sending to mail -->
<script src="external/form/jquery.form.js"></script>
<script src="external/form/jquery.validate.min.js"></script>
<script src="external/form/jquery.form-init.js"></script>
<!-- custom -->
<script src="js/toastr.min.js" type="text/javascript"></script>
<script src="js/header.js" type="text/javascript"></script>
<script src="js/product-box.js" type="text/javascript"></script>
<script src="js/product-listing.js" type="text/javascript"></script>
</body>
</html>