<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Search Results</title>
	<meta name="keywords" content="TopShoe">
	<meta name="description" content="TopShoe - Search">
	<meta name="author" content="wokiee">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base th:replace="shopper/fragments/common :: base">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/toastr.min.css">
</head>
<body>

<!-- header -->
<header th:replace="shopper/fragments/header"></header>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/index">Trang Chủ</a></li>
			<li>KẾT QUẢ TÌM KIẾM</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<h2 class="tt-title-subpages noborder" th:if="${not #lists.isEmpty(products)}" style="margin-top: 20px;">
      KẾT QUẢ TÌM KIẾM CHO "<span th:text="${text}">abcd</span>" (<span th:text="${#lists.size(products)}">10</span>)
    </h2>
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="row tt-layout-product-item">
				<div th:each ="product : ${products}" class="col-6 col-md-4 col-lg-3">
					<div class="tt-product thumbprod-center">
						<div class="tt-image-box">
							<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"	data-tooltip="Xem Trước" data-tposition="left"></a>
							<a href="#" class="tt-btn-wishlist" data-tooltip="Yêu Thích" th:if="${isSignedIn}" th:classappend="${product.isWishList} ? 'active' : ''" data-tposition="left"></a>
							<input class="productBoxId" type="hidden" th:value="${product.id}">
							<a th:href="@{/product/} + ${product.id}">
								<span class="tt-img"><img src="images/loader.svg" th:data-src="${product.primaryImage()}" alt=""></span>
								<span class="tt-img-roll-over" th:each="image,iter : ${product.otherImages()}">
									<img th:if="${iter.index==0}" src="images/loader.svg" th:data-src="${image}" alt="">
								</span>
								<span class="tt-label-location">
									<span class="tt-label-new" th:text="${product.status}">Mới</span>
								</span>
							</a>
						</div>
						<div class="tt-description">
							<div class="tt-row">
								<ul class="tt-add-info">
									<li><a href="#"><br></a></li>
								</ul>
							</div>
							<h2 class="tt-title">
								<a th:href="@{/product/} + ${product.id}" th:text="${product.brand.name + ' ' + product.name + ' - ' + product.versionName}">Name</a>
							</h2>
							<div class="tt-price" th:text="${product.formatPrice()}">
								price
							</div>
							<div class="tt-product-inside-hover">

								<div class="tt-row-btn">

									<a href="#" class="tt-btn-wishlist"></a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center tt_product_showmore d-none">
				<a th:href="@{/product-listing}" class="btn btn-border">XEM THÊM</a>
			</div>
		</div>
	</div>

	<div class="container-indent nomargin">
		<div class="tt-empty-search" th:if="${#lists.isEmpty(products)}" style="padding-top: 10px;">
			<span class="tt-icon icon-f-85"></span>
			<h1 class="tt-title">KHÔNG CÓ SẢN PHẨM.</h1>
			<p>Kết quả tìm kiếm cho "<span class="tt-base-dark-color" th:text="${text}">'dddddd'</span>"</p>
		</div>
	</div>
</div>

<!-- footer -->
<footer th:replace="shopper/fragments/footer"></footer>

<!-- modal -->
<div th:replace="shopper/fragments/modal :: subsribeGood"></div>

<script src="external/jquery/jquery.min.js"></script>
<script src="external/bootstrap/js/bootstrap.min.js"></script>
<script src="external/panelmenu/panelmenu.js"></script>
<script src="external/slick/slick.min.js"></script>
<script src="external/lazyLoad/lazyload.min.js"></script>
<script src="js/main.js"></script>
<!-- form validation and sending to mail -->
<script src="external/form/jquery.form.js"></script>
<script src="external/form/jquery.validate.min.js"></script>
<script src="external/form/jquery.form-init.js"></script>
<!-- custom -->
<script src="js/toastr.min.js" type="text/javascript"></script>
<script src="js/header.js" type="text/javascript"></script>
<script src="js/product-box.js" type="text/javascript"></script>
</body>
</html>